@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* navbar section  */

.navbar {
    padding: 20px;
    background: #2B547E;
}

.navbar .navbar-toggler {
    color: #fff !important;
    background: #fff;
    border-radius: 50%;
    padding: 15px;
    outline: none;
    border: none;
}

.navbar #navbarNav {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.navbar .navbar-brand {
    color: #f1f1f1;
    font-size: 30px;
    margin-left: 0px;
    font-weight: 600;
}

.navbar .navbar-brand i {
    font-size: 25px;
    background: #088F8F;
    border-radius: 50%;
    padding: 10px 15px;
}

.navbar .collapse {
    background: #2B547E;
}

.navbar .dropdown-menu{
    width: 12px;
}

.navbar .dropdown-menu li a{
    color: #1c456d;
    font-size: 15px;
}

.navbar ul li .bi{
    background: #fff;
    color: #1c456d;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 50%;
}

.navbar ul li a {
    color: #f1f1f1;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    margin-right: 40px;
}

.navbar ul li a:hover {
    color: #FFA500;
}

.name{
    font-size: 30px;
    background-color: #2B547E;
    color: #FFA500;
    padding: 50px;
}
/* project section  */

section{
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}



.course-section .text p {
    font-size: 18px;
    color: #d1d1d1;
    margin-top: 15px;
}


.course-video{
    
        max-width: calc(100% - 40px);
        max-height: 600px;
        object-fit:fill;
        border-radius: 1%;
        border: 5px solid #088F8F;
    
}
.course-section .text h1 {
    
    color: #1c456d;
    font-weight: bold;
    margin-bottom: 15px;
}
.course-section .card-description{
    color: black;
    
    width:100%;
    overflow:hidden;
    font-size:12px;
    font-size: 20px;
    overflow: visible;
}
.course-section  p {
    font-size: 10px;
    color: grey;
    margin-left: 0;
    margin-top: 10px;
}
.buttons
{
    display: flex;
    justify-content: center;
    margin: 15px;
    gap:10px;
}
 .buttons button {
    border-radius: 30px;
    color: #fff;
    border: none;
    background-color: #088F8F;
    height: 40px;
    width: 300px;
    text-transform: capitalize;
}

 .buttons button:hover {
    background-color: #fff;
    border: 2px solid #088F8F;
    color: #088F8F;
}

